/* allow map to fill viewport */
html, body, .container-fluid
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;
    
    /* disable scrollbars */
    /*overflow: hidden;*/
    overflow-y: auto;


    /* no padding within these elements */
    padding: 0;
}

body { 
    padding-top: 65px;
    padding-bottom: 65px; 
    /*margin: 0 0 60px 0;*/
}

/*#content {*/
    /*max-height: calc(100% - 120px);*/
/*    overflow-y: scroll;*/
    /*padding: 0px 10%;*/
    /*margin-top: 60px;*/
/*}*/

/* stylize carousel */

/*.intro {*/
/*    text-align: center;*/
/*    max-width: 100%;*/
/*    right: 29px;*/
/*    top: 50%;*/
/*}*/

.carousel .item {
      height: 700px;
    }

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 700px;
  overflow: visible;
}

.carousel-indicators li { 
    visibility: hidden; 
}

#myCarousel {
    /*top: 5%;*/
}

/*img { */
/*    width: 80%; */
/*    margin: auto; */
/*}*/

.carousel-control {
    color: white;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

/*.carousel-caption {*/
/*    position: relative;*/
/*    color: black;*/
/*    left: auto;*/
/*    right: auto;*/
/*}*/

.carousel-caption {
    background-color: #000000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: absolute;
    max-width: 70%;
    padding: 0 20px;
    margin:0 auto;
    /*margin-top: 200px;*/
    margin-bottom: 20px;
    /*bottom: 25px;*/
    text-align:left;
    color: white;
    /*display: block;*/
}


.btn {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #ddd;
  background-color: #4d90fe;
  color: white;
  position: relative;
  /*right: 200px;*/
  left: 25%;
  /*bottom: 25px;*/
  /*z-index: 10;*/
  /*align:center;*/
  /*margin:10 auto;*/
}

