
html{
    height:100%;
}

html body{
    height: 100%;
    overflow: hidden;
}

html, body, .container-fluid.body-content{
    position:absolute;
    top: 50px;
    bottom: 0px;
    right: 0;
    left: 0;
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}


#content {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    padding: 0px 10%;
    margin-top: 60px;
}

/* stylize carousel */

.carousel .item {
      height: 100%;
    }

.carousel img {
    /*padding-top: 75px;*/
    /*width: 80%;*/
    min-width: 80%;
    margin: auto;
    /*height: 100%;*/
    overflow: visible;
    overflow-y: auto;

}

.carousel-inner{
    overflow: visible;
}

.carousel-indicators li { 
    visibility: hidden; 
}

#myCarousel {
    /*top: 5%;*/
    /*bottom: 5%;*/
}


.carousel-control {
    color: blue;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: blue;
}

.carousel-caption {
    background-color: #000000;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 70%;
    left: 15%;
    padding: 20px;
    bottom: -25px;
    text-align:center;
    color: white;
}

.btn {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #ddd;
    background-color: #4d90fe;
    color: white;
    position: relative;
    left: auto;
    margin: 15px;
}

