{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='scripts_gallery.js') }}"></script>

<div class="container">
  <div class="jumbotron">
    <h2>Museum of Nature Strip Art (MONSA)</h2> 
    
    <!--<p><img class="center-block" src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=45.4855305,-122.7032018&fov=100&heading=266.57&key=AIzaSyCssINvVOAV0n5dZmZLtpgfmMqvCBhuJPo" alt="First one"></p>-->
    
    <p id="test1"> A nature strip is a piece of public land between the paved footpath and the road kerb.  Residents maintain the nature strip in front of their homes.  The potential of many nature strips is not fully realised.  They are dry, barren wastelands.   In some places, local councils even impose oppressive restrictions which stifle creativity.</p> 
    
    <p> But nature finds a way.</p>
    
    <p> Great and beautiful nature strips do exist.  They are the work of residents ("strip-artists") who have more fully realised kerbside possibilities.</p>
    
    <p> The mission of MONSA is to serve the World by preserving, collecting, exhibiting and fostering the understanding of nature strips of the highest possible standards. </p>

    <p> Support MONSA's mission:</p>

    <p> > Add high quality nature strips you know of to MONSA's map.</p>

    <!--<p>"Every garden-maker should be an artist along his own lines... The tiniest garden is often the loveliest"  - Vita Sackville West </p> -->
  </div>

</div>

{% endblock %}
