{% extends "base.html" %}
{% block content %}

  <link href="{{ url_for('static', filename='styles_gallery.css') }}" rel="stylesheet"/>

  {% block mainpageJumbo %}
  {% endblock %}

  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        
        <img src="{{ firstItem['picUrl'] }}" alt="First one">
        <div class="carousel-caption">
          <p>Address: {{ firstItem['address'] }} &emsp; Votes: {{ firstItem['score'] }} &emsp; Artist Statement: {{ firstItem['artistStatement'] }} &emsp; PicID: {{ firstItem['id'] }}</br>
          <button id="upVoteButton1" type="button" class="btn upVoteButton" value="{{ firstItem['id'] }}"> Upvote this Nature Strip</button>
          <button id="downVoteButton1" type="button" class="btn downVoteButton" value="{{ firstItem['id'] }}"> Downvote this Nature Strip</button></p>
        </div>
      </div>
      
      {% for pic in picItems %} 
        <div class="item">
          <img src="{{ pic['picUrl'] }}" alt="Other">
          <div class="container">
            <div class="carousel-caption">
              <p>Address: {{ pic['address'] }}  &emsp; Votes: {{ pic['score'] }} &emsp; Artist Statement: {{ pic['artistStatement'] }} &emsp; PicID: {{ pic['id'] }} </br>
              <button id="upVoteButton2" type="button" class="btn upVoteButton" value="{{ pic['id'] }}"> Upvote this Nature Strip</button>
              <button id="downVoteButton2" type="button" class="btn downVoteButton" value="{{ pic['id'] }}"> Downvote this Nature Strip</button></p>
            </div>
          </div>
        </div>
      {% endfor %}      

    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
 
  </div>

  <script src="{{ url_for('static', filename='scripts_gallery.js') }}"></script>

{% endblock %}
