{% extends "base.html" %}
{% block content %}
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link href="{{ url_for('static', filename='styles_map.css') }}" rel="stylesheet"/>
    
  </head>
  <body>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    
    <div class="container" id="captureButton">
      <p><button id="addButton" type="button" class="btn">Add Nature Strip to Gallery</button></p>
    </div>

    <div class="container" id="mapBlurb">
      <p> Add Nature Strips to the MONSA gallery. Locate using map above, zoom to the street view and then click on "Add Nature Strip to Gallery". </p>
    </div>
    
    <script src="{{ url_for('static', filename='scripts_map.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn3B7xdPB2NlsxdaBAhiessr-3aa7Ie_E&libraries=places&callback=initAutocomplete"
         async defer></script>

{% endblock %}
